<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Oakwell GP & Skin</span>
            <h2 class="cs-title">Ready to book your appointment?</h2>
            <p class="cs-text">
                We are open Monday to Saturday to provide comprehensive coordinated healthcare to the local community. GP services include antenatal care, chronic disease management, women's health and contraceptive services, men's health, skin checks, mental health, diabetes management and more.<br><br>
                <b>New patients welcome • Mixed billing available • Same-day appointments often available</b><br><br>
                <i>If you are experiencing any acute respiratory symptoms please wear a mask and notify reception on arrival.</i>
            </p>
            <a target="_blank" href="https://www.easyvisit.com.au/locations-loader" class="cs-button-solid">Book appointment</a>
        </div>
    </div>
</section>