<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-2.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == "/about/" %} cs-active {% endif %}">
                            Our Doctors
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/services/" class="cs-li-link {% if page.url == "/services/" %} cs-active {% endif %}">
                            Medical Services
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/skin-services/" class="cs-li-link {% if page.url == "/skin-services/" %} cs-active {% endif %}">
                            Skin & Cosmetic Care
                        </a>
                    </li>

                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <!--
                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link {% if page.url == "/fees/" or page.url == "/faq/" %} cs-active {% endif %}">
                            Skin & Cosmetic Care &#9660;
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/fees/" class="cs-li-link cs-drop-link">Anti‑wrinkle injections</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/faq/" class="cs-li-link cs-drop-link">Skin rejuvenation & peels</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/faq/" class="cs-li-link cs-drop-link">Skin cancer treatments</a>
                            </li>
                        </ul>
                    </li>
                    -->
                    
                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link {% if page.url == "/fees/" or page.url == "/faq/" or page.url == "/new-patients/" %} cs-active {% endif %}">
                            Patient Info &#9660;
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/fees/" class="cs-li-link cs-drop-link">Fees & Billing</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/new-patients/" class="cs-li-link cs-drop-link">New Patients</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/faq/" class="cs-li-link cs-drop-link">FAQ & Policies</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}">
                            Contact
                        </a>
                    </li>
                    <li class="cs-li cs-hide-on-mobile">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid">Book Appointment</a>

        <!--Dark Mode toggle button removed below -->
        
    </div>
</header>