---
title: "Form Submitted Successfully | Oakwell GP & Skin"
description: "Thank you for contacting Oakwell GP & Skin. We have received your message and will be in touch soon."
permalink: "/success/"
---

	{% extends "layouts/base.html" %}
  
	
  {% block head %}
	    <link rel="stylesheet" href="/assets/css/success.css">
	{% endblock %}

	
  {% block body %}     

	<div class="success-page">
	  <h1>Success!</h1>
	  <p>Form submitted. Someone will be in touch soon.</p>
	  <a href="/" class="cs-button-solid">Back to Homepage</a>
	</div>

  {% endblock %}
