/*-- ------------------------------------------- -->
<---    About pg hero sec Meet the docs - Hero CS 540   -->
<--- ------------------------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-540 {
        /* 144px - 300px - leaving extra space for the navigation */
        padding: clamp(9rem, 25.95vw, 18.75em) (16/16rem) 0;
        /* 130px - 175px */
        padding-bottom: clamp(8.125rem, 12.5vw, 10.9375em);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* clips the color overlay so it doesn't cause an overflow */
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            /* changed to at tablet */
            width: 90%;
            max-width: (545/16rem);
            /* 100px - 150px, changes to 0 at tablet */
            margin-top: clamp(6.25rem, 28vw, 9.375rem);
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.7vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (700/16rem);
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 4vw, 2rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            /* 40px - 64px */
            margin: 0 0 clamp(2.5rem, 6.3vw, 4rem);
            color: var(--bodyTextColorWhite);
        }


        .cs-button-solid {

            &:before {
                background: #fff;
            }

            &:hover {
                color: var(--bodyTextColor);
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: (2000/16rem);
                width: (3000/16rem);
                background: rgba(2, 12, 2, 0.7);
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                top: (-610/16rem);
                left: 50%;
                z-index: 1;
                transform: rotate(-30deg) translateX(-50%);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-540 {
        .cs-container {
            align-items: flex-end;
        }

        .cs-content {
            width: 48%;
            margin-top: (0/16rem);
        }

        .cs-background {
            &:before {
                top: (-1220/16rem);
                transform: rotate(-55deg) translateX(-50%);
            }
        }
    }
}


/*-- -------------------------- -->
<--- 3 Doc profiles - Side By Side CS 1587 -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1587, #RPsbs-1587-2, #RPsbs-1587-3 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 6vw, 4rem);
        }

        .cs-picture {
            width: 100%;
            height: clamp(25rem, 80vw, 47rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: (20/16rem);
                object-position: top center;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            justify-content: center;
        }

        .cs-title {
            /* 26 characters wide including spaces */
            font-size: (36/16rem);
            max-width: 26ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            /* 550px - 630px */
            max-width: clamp(34.375rem, 50vw, 39.375rem);
            padding: 0;
            /* 24px - 40px */
            margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: clamp(1rem, 4vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }


        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-1587, #RPsbs-1587-2, #RPsbs-1587-3 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        .cs-content {
            width: 50%;
            max-width: (630/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            height: auto;
            min-height: (525/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1587, #RPsbs-1587-2, #RPsbs-1587-3 {
        .cs-content {
            padding: (84/16rem) 0;
            align-self: center;
        }
    }
}


/* Setting each doc section's bg color */
#RPsbs-1587-3 {
    background-color: #fae5e6; /* lighter pink/blush than var(--primaryLight) */
}

#RPsbs-1587-2 {
    background-color: var(--secondary);
}

#RPsbs-1587 {
    background-color: #fff;
}
