// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────



/*-- -------------------------- -->
<---   Hero - CS CTA 403   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-403 {
        padding: var(--sectionPadding);
        padding-top: 13rem;
        position: relative;

        .cs-topper {
            //color: #ba7166;
            color: var(--mochaMousse);
            font-size: clamp(1rem, 1.6vw, 1.1rem);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            background-blend-mode: multiply;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: var(--secondary);
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                /* positions the image inside the parent */
                object-position: 0% 30%;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (517/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColor);
        }

        .cs-text {
            opacity: 1;
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {

            &:before {
                background: #fff;
            }

            &:hover {
                color: var(--bodyTextColor);
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-403 {
        .cs-background {
            /* clips the black slant so it doesnt overflow */
            overflow: hidden;
            &:before {
                width: 40%;
                opacity: 1;
            }

            &:after {
                /* black slant */
                content: "";
                width: (500/16rem);
                height: (1500/16rem);
                margin-right: (-50/16rem);
                background: linear-gradient(
                    to right,
                    rgba(231, 224, 223, 1) 0%,
                    rgba(231, 224, 223, 1) 60%,
                    rgba(231, 224, 223, 0) 85%
                );
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                right: 50%;
                transform: rotate(10deg) translateY(-50%);
            }

            img {
                width: 60%;
                object-position: right;
                left: auto;
                right: 0;
            }
        }

        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            width: 45%;
        }

        .cs-text,
        .cs-title {
            margin-left: 0;
        }
    }
}


/*-- -------------------------- -->
<---   Contact Strip CS 325      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-strip-325 {
        padding: var(--sectionPadding);
        background-color: var(--secondary);

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: (290/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: (64/16rem);
            height: (64/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.5rem, 3vw, 1.1rem);
            border: 2px solid var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            filter: invert(25%);
        }

        .cs-header {
            font-size: (20/16rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s, transform 0.3s ease;
            white-space: nowrap;

            &:hover {
                //color: #8a5e5e;
                color: var(--mochaMousse);
                transform: scale(1.02);
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-strip-325 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-strip-325 {
        .cs-stat-group {
            max-width: (1280/16rem);
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }
    }
}
                                
