/*-- ------------------------------------------------ -->
<---  Services pg hero - Side By Side CS 1278   -->
<--- ------------------------------------------------ -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1278 {
        padding: var(--sectionPadding);
        padding-top: 10rem;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: var(--secondaryLight);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (850/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 108px */
            gap: clamp(3rem, 5vw, 6.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            color: #fff;
        }

        .cs-picture {
            width: 100%;
            /* 456px - 598px */
            height: clamp(28.5rem, 46vw, 37.375rem);
            border-radius: (20/16rem);
            overflow: hidden;
            display: block;
            /* sends it to the bottom in the 2nd position */
            order: 2;
            position: relative;
            z-index: 1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.3;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 50%;
            background-color: var(--secondary);
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1278 {
        .cs-content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: (32/16rem);
        }

        .cs-flex {
            width: 45%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
        }

        .cs-button-solid {
            margin-right: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1278 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);
        padding-top: 10rem;

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-content {
            width: 100%;
            max-width: (433/16rem);
            margin: 0;
            flex-direction: column;
            order: 2;
            row-gap: 0;
        }

        .cs-flex {
            width: 100%;
        }

        .cs-title {
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            width: 100%;
        }

        .cs-picture {
            max-width: (738/16rem);
            order: 1;
        }

        .cs-background {
            width: 60vw;
            height: 100%;
            /* 172px - 336px */
            margin-right: clamp(11.125rem, 30vw, 21rem);
            left: auto;
            right: 50%;
            top: 0;
            border-radius: (20/16rem);
        }
    }
}



/*-- ------------------------------------------------ -->
<---  Med services 6 cards - Services CS 282   -->
<--- ------------------------------------------------ -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-282 {
        padding: var(--sectionPadding);
        background-color: var(--secondaryLight);


        .cs-container {
            position: relative; // V added for bg img right
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }


        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-content, .cs-card-group {
            position: relative;
            z-index: 1;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 32px - 40px */
            padding: clamp(2rem, 4vw, 2.5rem) (28/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s, transform 0.2s ease-out, box-shadow 0.3s ease-out;

                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 8px 32px rgba(163,185,166,0.25);
                }
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.95vw, 1.5625rem);
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (20/16rem);
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #services-282 {

        .cs-card-group {  /* V added */
            flex-direction: row;       
            flex-wrap: nowrap;         
            align-items: stretch;
        }

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            /* 224px - 413px */
            width: clamp(14rem, 30.4vw, 25.8125rem);
            min-height: (200/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }
    }
}

/*-- ------------------------------------------------------ -->
<---     Accordion more details - FAQ CS 1263             -->
<--- ----------------------------------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1263 {
        padding: var(--sectionPadding);
        padding-top: 0;
        background-color: var(--secondaryLight);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-faq-group {
            width: 100%;
            max-width: (846/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.4vw, 1.25rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #4f4f4f;
            border-radius: (8/16rem);
            padding: 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }

                .cs-item-p {
                    height: auto;
                    margin-top: (12/16rem);
                    /* 16px - 24px */
                    padding-top: (12/16rem);
                    padding-bottom: (24/16rem);
                    color: var(--bodyTextColorWhite);
                    opacity: 0.8;

                    &:before {
                        /* border top */
                        content: "";
                        height: 1px;
                        background: #7d799c;
                        opacity: 1;
                        position: absolute;
                        display: block;
                        top: 0;
                        left: (24/16rem);
                        right: (24/16rem);
                    }
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            width: 100%;
            padding: (24/16rem) (24/16rem) 0;
            border: none;
            background: transparent;
            color: var(--bodyTextColorWhite);
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 67%;
                right: (19/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 67%;
                right: (16/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 90%;
            padding: 0;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 100%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 (24/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            position: relative;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s,
                padding-top 0.3s;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

                                